*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: rgb(215, 122, 231);
     background-color: rgb(66, 38, 139); 
}

h1{
    padding: 20px;
    text-align: center;
    margin: 10px;
    font-weight: 900;
    font-size: 60px;
    padding-bottom: 7px;
}

p{
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-weight: 300;
    font-size: 25px;
    padding-bottom: 50px; 
}

.addInput{
    margin-left: 37%;
    border-radius: 2rem;
    padding: 10px;
    width: 20%;
    border: none;
   transition: all 0.3 ease-in-out;
   margin-bottom: 20px;
}

.addSubmit{
    border-radius: 2rem;
    padding: 10px;
    width: 5%;
    border: none; 
    cursor: pointer;
    background-color:rgb(215, 122, 231); 
    color: rgb(66, 38, 139);
}

.addSubmit:hover{
    color:rgb(215, 122, 231); 
    background-color: rgb(66, 38, 139);
}

.added_input{
    margin-left: 37%;
    border-radius: 2rem;
    padding: 10px;
    width: 20%;
    border: none;
   transition: all 0.3 ease-in-out;
  
}

 .added_input, .button{
    display: flex;
    justify-content: center;
} 


/* .added_input, .button{
display: flex;

}  */

#Container{
    display: flex;
    
}
.deleteButton{
    border-radius: 2rem;
    padding: 10px;
    width: 5%;
    border: none; 
    cursor: pointer;
    background-color:rgb(215, 122, 231); 
    color: rgb(66, 38, 139); 
}

.editButton{
    border-radius: 2rem;
    padding: 10px;
    width: 5%;
    border: none; 
    cursor: pointer;
    background-color:rgb(215, 122, 231); 
    color: rgb(66, 38, 139); 
}
